*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
    font-size: 0.8125rem;
    font-weight: 500;
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    width: 80%;
}

.image {
    max-width: 100%;
}

.image img {
    border-radius: 10px 10px 0 0;
}

.content {
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding: 2rem 1.5rem 1.5rem;
    position: relative;
}

.first {
    color: hsl(217, 19%, 35%);
    font-size: 1rem;
    font-weight: 700;
}

.second {
    color: hsl(214, 17%, 51%);
    margin-bottom: 1.875rem;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.michelle {
    display: flex;
}

.michelle img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-self: center;
}

.michelle-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 .5em 0 2em;
}

.michelle-text p {
    margin: 0;
    padding: 2px;
}

.name {
    color: hsl(217, 19%, 35%);
    font-size: 14px;
    font-weight: 700;
}

.date {
    color: hsl(214, 17%, 51%);
}

.share {
    border-radius: 50%;
    background-color: hsl(210, 46%, 95%);
    padding: 10px;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.active {
    display: flex;
    background-color: hsl(217, 19%, 35%);
    border-radius: 0 0 10px 10px;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    visibility: hidden;
}

.social {
    display: flex;
    align-items: center;
}

.social p {
    color: hsl(214, 17%, 51%);
    font-size: 1rem;
    font-weight: 700;
    margin-right: 1.25rem;
    letter-spacing: 4px;
}

.img {
    width: 100%;
    margin-right: 1.25rem;
}

@media (min-width: 840px) {

    .card {
        display: flex;
    }

    .image img {
        width: 100%;
        height: 100%;
        border-radius: 10px 0 0 10px;
    }

    .content {
        border-radius: 0 10px 10px 0;
        padding: 2rem 2rem 1.5rem;
    }


}

@media (min-width: 1050px) {
    .card {
        max-width: 800px;
    }


    .first {
        font-size:  1.5rem;
        margin: 0;
    }

    .second {
        font-size: 0.84375rem;
    }
}